.profilePic {
  display: flex;  /* Hacer que el contenedor use Flexbox */
  justify-content: space-between; /* Espaciado entre elementos */
  }
  
  .bSettings {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .cvTitle {
    display: flex;
    width: 100px;
    white-space: nowrap;
    padding: 5%;
  }

  .avatar {
    padding: 5%;
  }